body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    border: 3px solid black;
    padding: 30px;
    background-color: #FFFBDE;
    box-sizing: border-box;
    max-width: 300px;
}

header {
    border: 3px solid black;
    text-align: center;
    max-width: auto;
    background-color: #4682A9;

}

.kolom-hasil{
    border: 3px solid black;
    margin: 10px auto;
    background-color: #91C8E4;
    max-width: auto;
}

section {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    justify-content: space-around;
    gap: 5px;
    background-color: #4682A9;
    padding: 3px;
}

button {
    padding: 10px;
    width: 71px;
}

#decimal, #equal {
    flex: 2;
}